html{
  margin: 0;
  padding: 0;
}
nav{
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  height: 5vh;
  background: #eeefed;
  border-bottom: 2px solid black;
}
.map-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 95vh;
  background-image: url('images/Denver-mountain.jpg');
  background-size: cover;
}

#map-diversity, #map-population{
  height: 700px;
  width: 600px;
  border: 5px solid white;
  border-radius: 1%;
}

.carousel-control-prev {
    left: -65px;
}

.carousel-control-next-icon{
  position: relative;
  left: 70px;
}
