html{
  margin: 0;
  padding: 0;
}
nav{
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  height: 5vh;
  background: #eeefed;
  border-bottom: 2px solid black;
}
.map-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 95vh;
  background-image: url('images/Denver-mountain.jpg');
  background-size: cover;
}

#map-diversity, #map-population{
  height: 700px;
  width: 600px;
  border: 5px solid white;
  border-radius: 1%;
}

.carousel-control-prev {
  left: -65px;
}

.carousel-control-next{
  right: -70px;
}

.legend{
  position: relative;
  bottom: 100px;
  margin-left: 20px;
  padding: 7px;
  height: 500px;
  width: 300px;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(189, 195, 199, 0.3), rgba(44, 62, 80, 0.9)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(189, 195, 199, 0.3), rgba(44, 62, 80, 0.9));
  border: 5px solid white;
  border-radius: 1%;
  color: white;
  .bus{
    display: inline-block;
    height: 5px;
    width: 40px;
    background-color: #ffe100;
  }
  .light-rail{
    display: inline-block;
    height: 5px;
    width: 40px;
    background-color: #ff0000;
  }

  .layer{
    margin-top: 20px;
  }

  .layer-gradient{
    box-sizing: border-box;
    height: 20px;
    width: 202px;
    border: 1px solid black;
    padding: 0;
    .color{
      margin: 0;
      border: .5px solid black;
      box-sizing: border-box;
      height: 100%;
      width: calc(200px / 5);
      float: left;
    }
    .color-1{
      background: #FFFFFF;
    }
    .color-2{
      background: #00FFCB;
    }
    .color-3{
      background: #0BC5E8;
    }
    .color-4{
      background: #007EFF;
    }
    .color-5{
      background:#0023F5;
    }
  }

  .range{
    width: 220px;
    position: relative;
    .range-start, .range-end{
      font-size: .7rem;
    }
    .range-end{
      position: absolute;
      right: 0;
    }
  }

}
